html{
	width: 100%;
  height: 100%;
}
body{
	width: 60%;
  height: 100%;
  margin: 0px auto;
}

.formula-section{
  width: 100%;
}
.formula-section .CodeMirror {
  width: calc(100% - 120px);
  width: -ms-calc(100% - 120px);
  width: -o-calc(100% - 120px);
  width: -moz-calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
  height: 100px;
  border-top: 10px solid #58ACED;
  border-bottom: 1px solid #58ACED;
  margin-top:  20px;
  float: left;
}
.formula-btns{ 
  width: 100px;
  float: right;
}
.formula-btn{
  width: 100px;
  height: 50px;
  float: left;
}
.formula-btn-calculate{
  font-size: 20px;
  margin-top:  20px;
  border: none;
  background: #C0DEED;
}
.formula-btn-format{
  font-size: 15px;
  margin-top: 11px;
  border: none;
  background: #0085B5;
}
.formula-title{
  width: 80px;
  height: 30px;
  float: left;
}
.formula-title:focus{
  border: none;
  outline: none;
}
.calculate-content{
  float: left;
  margin: 10px 0 0 20px;
  line-height: 30px;
  font-size: 16px;
  width: calc(100% - 110px);
  width: -ms-calc(100% - 110px);
  width: -o-calc(100% - 110px);
  width: -moz-calc(100% - 110px);
  width: -webkit-calc(100% - 110px);
}
.calculate-section{
  display: none;
  border-top: 10px solid #C0DEED;
  width: 100%;
  margin-top: 20px;
  float: left;
}
.calculate-title{
  font-size: 20px;
  margin-top:  10px;
  border: none;
  background: #C0DEED;
}
.format-section{
  display: none;
  border-top: 10px solid #0085B5;
  width: 100%;
  margin-top: 16px;
  float: left;
}
.format-title{
  font-size: 12px;
  margin-top:  10px;
  border: none;
  background: #0085B5;
}
.format-content{
  resize: none;
  float: left;
  height: 150px;
  margin: 10px 0 0 20px;
  font-size: 16px;
  width: calc(100% - 110px);
  width: -ms-calc(100% - 110px);
  width: -o-calc(100% - 110px);
  width: -moz-calc(100% - 110px);
  width: -webkit-calc(100% - 110px);
}
.format-content:focus{
  border: none;
}

.helps-section{
  border-top: 10px solid #8DBFD9;
  width: 100%;
  margin-top: 16px;
  float: left;
}
.helps-members{
  width: 100%;
  float: left;
  margin-top: 20px;
}
.helps-functions{
  width: 100%;
  float: left;
  margin-top: 15px;
}
.helps-cells{
  width: calc(50% - 30px);
  width: -ms-calc(50% - 30px);
  width: -o-calc(50% - 30px);
  width: -moz-calc(50% - 30px);
  width: -webkit-calc(50% - 30px);
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  margin: 5px 0;
  text-align: center;
  background: #8DBFD9;
}
.helps-cell-left{
  margin-left: 5px;
  float: left;
}
.helps-cell-right{
  margin-right: 5px;
  float: right;
}

.cm-member {
	max-width: 75px;
	box-shadow: 0px 3px 0px 0px #58ACED;
	overflow: hidden;
	border-radius: 2px;
	font-size: 13px;
	background-color: #58ACED;
	color: white;
	padding: 0px 2px;
}
.cm-constant {
	vertical-align: middle;
	font-family: Helvetica, Tahoma, Arial;
	/* font-weight: bold; */
	color: rgb(88,89,91);
	font-size: 13px;
}
.cm-condition {
	vertical-align: middle;
	font-family: Helvetica, Tahoma, Arial;
	color: rgb(51,145,213);
	font-weight: bold;
	font-size: 13px;
	padding: 0 5px;
}
.cm-function {
	vertical-align: middle;
 	font-family: Helvetica, Tahoma, Arial;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	color: #3F84B5 ;
	font-size: 15px;
}
.cm-arithmetic {
	vertical-align: middle;
	font-family: Helvetica, Tahoma, Arial;
	color: rgb(88, 89, 91);
	font-size: large;
	font-size: 17px;
	padding: 0 5px;
}
.cm-bool {
	vertical-align: middle;
	font-family: Helvetica, Tahoma, Arial;
	color: rgb(119, 97, 198);
	font-weight: bold;
	font-size: 16px;
	padding: 0 5px;
}
.cm-comma {
	vertical-align: middle;
	font-family: Helvetica, Tahoma, Arial;
	color: rgb(119, 97, 198);
	font-weight: bold;
	padding: 0 5px;
}
.cm-bracket {
	vertical-align: middle;
	font-family: Helvetica, Tahoma, Arial;
	color: rgb(51,145,213) ;
	font-weight: bold;
	padding: 0 5px;
}
.cm-error {
	vertical-align: middle;
	font-family: Helvetica, Tahoma, Arial;
	color : black;
	border-bottom: 2px solid rgb(242, 66, 105); 
	font-size: 13px;
}